# Preprocesamiento de Datos - Ejemplo Práctico

En esta demostración se preprocesará un conjunto de datos de población estadounidense. Los datos utilizados son un subconjunto modificado de [este set de datos](https://archive.ics.uci.edu/ml/datasets/Adult) y se encuentran en el archivo `census.csv`.

In [2]:
import pandas as pd
census_df = pd.read_csv('C:\\Users\\Usuario\\Documents\\GitHub\\Bases_de_datos\\census.csv')

In [4]:
# Importemos los datos:
census_df = pd.read_csv('C:\\Users\\Usuario\\Documents\\GitHub\\Bases_de_datos\\census.csv')

In [5]:
# Veamos el dataset:
census_df.head(10)

,age,workclass,education,race,sex,hours_per_week,USA_born,label
0,39.0,State-gov,Bachelors,White,Male,40.0,1.0,<=50K
1,50.0,Self-emp-not-inc,Bachelors,White,Male,13.0,1.0,<=50K
2,38.0,Private,High-school,White,Male,40.0,1.0,<=50K
3,53.0,Private,Some-high-school,Black,Male,40.0,1.0,<=50K
4,28.0,Private,Bachelors,Black,Female,40.0,0.0,<=50K
5,37.0,Private,Masters,White,Female,40.0,1.0,<=50K
6,49.0,Private,Some-high-school,Black,Female,16.0,0.0,<=50K
7,52.0,Self-emp-not-inc,High-school,White,Male,45.0,1.0,>50K
8,31.0,Private,Masters,White,Female,50.0,1.0,>50K
9,42.0,Private,Bachelors,White,Male,40.0,1.0,>50K

In [6]:
# Descripción de las columnas:
census_df.describe()

                age  hours_per_week      USA_born
count  41617.000000    41631.000000  41701.000000
mean      38.476608       40.743220      0.895062
std       13.365972       12.000085      0.306477
min       17.000000        1.000000      0.000000
25%       28.000000       40.000000      1.000000
50%       37.000000       40.000000      1.000000
75%       47.000000       45.000000      1.000000
max       90.000000       99.000000      1.000000

In [7]:
# Verifiquemos si hay datos faltantes:
census_df.isnull().sum()

age               99
workclass         11
education         14
race              16
sex               15
hours_per_week    85
USA_born          15
label              0
dtype: int64

In [8]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41716 entries, 0 to 41715
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41617 non-null  float64
 1   workclass       41705 non-null  object
 2   education       41702 non-null  object
 3   race            41700 non-null  object
 4   sex             41701 non-null  object
 5   hours_per_week  41631 non-null  float64
 6   USA_born        41701 non-null  float64
 7   label           41716 non-null  object
dtypes: float64(3), object(5)
memory usage: 2.5+ MB

In [36]:
# Descartemos las filas que tengan 3 o más datos faltantes:
census_df_limpio = census_df
census_df_limpio.head()

,age,workclass,education,race,sex,hours_per_week,USA_born,label,education_encoded
0,39.0,State-gov,Bachelors,White,Male,40.0,1.0,<=50K,7.0
1,50.0,Self-emp-not-inc,Bachelors,White,Male,13.0,1.0,<=50K,7.0
2,38.0,Private,High-school,White,Male,40.0,1.0,<=50K,5.0
3,53.0,Private,Some-high-school,Black,Male,40.0,1.0,<=50K,4.0
4,28.0,Private,Bachelors,Black,Female,40.0,0.0,<=50K,7.0

In [10]:
census_df_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41716 entries, 0 to 41715
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41617 non-null  float64
 1   workclass       41705 non-null  object
 2   education       41702 non-null  object
 3   race            41700 non-null  object
 4   sex             41701 non-null  object
 5   hours_per_week  41631 non-null  float64
 6   USA_born        41701 non-null  float64
 7   label           41716 non-null  object
dtypes: float64(3), object(5)
memory usage: 2.5+ MB

In [11]:
# Contemos de nuevo los datos faltantes:
census_df_limpio.isnull().sum()

age               99
workclass         11
education         14
race              16
sex               15
hours_per_week    85
USA_born          15
label              0
dtype: int64

In [12]:
# Imputemos los datos faltantes de edad y horas trabajadas por semana con la mediana de cada una de esas columnas:
census_df_limpio['age'] = census_df['age'].fillna(census_df['age'].median())
census_df_limpio['hours_per_week'] = census_df['hours_per_week'].fillna(census_df['hours_per_week'].median())

In [13]:
census_df_limpio.dropna(inplace=True)

In [14]:
# Contemos de nuevo los datos faltantes:
census_df_limpio.isnull().sum()

age               0
workclass         0
education         0
race              0
sex               0
hours_per_week    0
USA_born          0
label             0
dtype: int64

In [15]:
# Apliquemos one-hot encoding a la columna "workclass":
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False) 
encoder.fit(census_df_limpio[['workclass']])
encoded_workclass = encoder.transform(census_df_limpio[['workclass']])
encoded_df = pd.DataFrame(encoded_workclass, columns=encoder.get_feature_names_out(['workclass']))

df_wk = pd.concat([census_df_limpio.drop('workclass', axis=1), encoded_df], axis=1)
df_wk.head()

,age,education,race,sex,hours_per_week,USA_born,label,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,39.0,Bachelors,White,Male,40.0,1.0,<=50K,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,50.0,Bachelors,White,Male,13.0,1.0,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,38.0,High-school,White,Male,40.0,1.0,<=50K,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,53.0,Some-high-school,Black,Male,40.0,1.0,<=50K,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,28.0,Bachelors,Black,Female,40.0,0.0,<=50K,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [16]:
# Hallemos los valores que toma la columna "education":
counts = census_df_limpio['education'].value_counts()
print(counts)

education
High-school           14968
Some-college          10028
Bachelors              7767
Some-high-school       4153
Masters                2590
Middle-school           843
Doctorate               575
Some-middle-school      468
Elementary-school       229
Preschool                73
Name: count, dtype: int64

In [ ]:
# Apliquemos ordinal encoding a la columna "education":
from sklearn.preprocessing import OrdinalEncoder

census_df_limpio['education'].unique()
orden = ["Preschool",
    "Elementary-school",
    "Some-middle-school",
    "Middle-school",
    "Some-high-school",
    "High-school",
    "Some-college",
    "Bachelors",
    "Masters",
    "Doctorate"]

encoder = OrdinalEncoder(categories = [orden])
encoder.fit(census_df_limpio[['education']])
census_df_limpio['education_encoded'] = encoder.fit_transform(census_df_limpio[['education']])

In [38]:
# Verifiquemos que la columna "education" tenga los valores apropiados:
counts = census_df_limpio[['education', 'education_encoded']].value_counts()
print(counts)

education           education_encoded
High-school         5.0                  14968
Some-college        6.0                  10028
Bachelors           7.0                   7767
Some-high-school    4.0                   4153
Masters             8.0                   2590
Middle-school       3.0                    843
Doctorate           9.0                    575
Some-middle-school  2.0                    468
Elementary-school   1.0                    229
Preschool           0.0                     73
Name: count, dtype: int64

In [17]:
# Apliquemos one-hot encoding a la columna "race":
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False) 
encoder.fit(census_df_limpio[['race']])
encoded_race = encoder.transform(census_df_limpio[['race']])
encoded_df = pd.DataFrame(encoded_race, columns=encoder.get_feature_names_out(['race']))

df_wk = pd.concat([census_df_limpio.drop('race', axis=1), encoded_df], axis=1)
df_wk.head()

,age,workclass,education,sex,hours_per_week,USA_born,label,education_encoded,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,39.0,State-gov,Bachelors,Male,40.0,1.0,<=50K,0.0,0.0,0.0,0.0,0.0,1.0
1,50.0,Self-emp-not-inc,Bachelors,Male,13.0,1.0,<=50K,0.0,0.0,0.0,0.0,0.0,1.0
2,38.0,Private,High-school,Male,40.0,1.0,<=50K,3.0,0.0,0.0,0.0,0.0,1.0
3,53.0,Private,Some-high-school,Male,40.0,1.0,<=50K,8.0,0.0,0.0,1.0,0.0,0.0
4,28.0,Private,Bachelors,Female,40.0,0.0,<=50K,0.0,0.0,0.0,1.0,0.0,0.0

In [18]:
# Apliquemos binary encoding a la columna "sex":
import category_encoders as ce
# Crear el codificador
encoder = ce.BinaryEncoder(cols=['sex'])

# Aplicarlo al DataFrame
df_encoded_sex = encoder.fit_transform(df_wk)
print(df_encoded_sex)

        age         workclass         education  sex_0  sex_1  hours_per_week  \
0      39.0         State-gov         Bachelors      0      1            40.0
1      50.0  Self-emp-not-inc         Bachelors      0      1            13.0
2      38.0           Private       High-school      0      1            40.0
3      53.0           Private  Some-high-school      0      1            40.0
4      28.0           Private         Bachelors      1      0            40.0
...     ...               ...               ...    ...    ...             ...
31843   NaN               NaN               NaN      1      1             NaN
34140   NaN               NaN               NaN      1      1             NaN
34422   NaN               NaN               NaN      1      1             NaN
37989   NaN               NaN               NaN      1      1             NaN
39985   NaN               NaN               NaN      1      1             NaN

       USA_born  label  education_encoded  race_Amer-Indian-Eskimo  \
0           1.0  <=50K                0.0                      0.0
1           1.0  <=50K                0.0                      0.0
2           1.0  <=50K                3.0                      0.0
3           1.0  <=50K                8.0                      0.0
4           0.0  <=50K                0.0                      0.0
...         ...    ...                ...                      ...
31843       NaN    NaN                NaN                      0.0
34140       NaN    NaN                NaN                      0.0
34422       NaN    NaN                NaN                      0.0
37989       NaN    NaN                NaN                      0.0
39985       NaN    NaN                NaN                      0.0

       race_Asian-Pac-Islander  race_Black  race_Other  race_White
0                          0.0         0.0         0.0         1.0
1                          0.0         0.0         0.0         1.0
2                          0.0         0.0         0.0         1.0
3                          0.0         1.0         0.0         0.0
4                          0.0         1.0         0.0         0.0
...                        ...         ...         ...         ...
31843                      0.0         0.0         0.0         1.0
34140                      0.0         1.0         0.0         0.0
34422                      0.0         0.0         0.0         1.0
37989                      0.0         1.0         0.0         0.0
39985                      0.0         0.0         0.0         1.0

[41716 rows x 14 columns]

In [19]:
# Apliquemos binary encoding a la etiqueta:

encoder = ce.BinaryEncoder(cols=['sex'])

# Aplicar codificación
df_encoded = encoder.fit_transform(df_wk)

print(df_encoded)

        age         workclass         education  sex_0  sex_1  hours_per_week  \
0      39.0         State-gov         Bachelors      0      1            40.0
1      50.0  Self-emp-not-inc         Bachelors      0      1            13.0
2      38.0           Private       High-school      0      1            40.0
3      53.0           Private  Some-high-school      0      1            40.0
4      28.0           Private         Bachelors      1      0            40.0
...     ...               ...               ...    ...    ...             ...
31843   NaN               NaN               NaN      1      1             NaN
34140   NaN               NaN               NaN      1      1             NaN
34422   NaN               NaN               NaN      1      1             NaN
37989   NaN               NaN               NaN      1      1             NaN
39985   NaN               NaN               NaN      1      1             NaN

       USA_born  label  education_encoded  race_Amer-Indian-Eskimo  \
0           1.0  <=50K                0.0                      0.0
1           1.0  <=50K                0.0                      0.0
2           1.0  <=50K                3.0                      0.0
3           1.0  <=50K                8.0                      0.0
4           0.0  <=50K                0.0                      0.0
...         ...    ...                ...                      ...
31843       NaN    NaN                NaN                      0.0
34140       NaN    NaN                NaN                      0.0
34422       NaN    NaN                NaN                      0.0
37989       NaN    NaN                NaN                      0.0
39985       NaN    NaN                NaN                      0.0

       race_Asian-Pac-Islander  race_Black  race_Other  race_White
0                          0.0         0.0         0.0         1.0
1                          0.0         0.0         0.0         1.0
2                          0.0         0.0         0.0         1.0
3                          0.0         1.0         0.0         0.0
4                          0.0         1.0         0.0         0.0
...                        ...         ...         ...         ...
31843                      0.0         0.0         0.0         1.0
34140                      0.0         1.0         0.0         0.0
34422                      0.0         0.0         0.0         1.0
37989                      0.0         1.0         0.0         0.0
39985                      0.0         0.0         0.0         1.0

[41716 rows x 14 columns]

In [20]:
# Veamos el dataset resultante:
df_encoded_sex.head()

,age,workclass,education,sex_0,sex_1,hours_per_week,USA_born,label,education_encoded,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,39.0,State-gov,Bachelors,0,1,40.0,1.0,<=50K,0.0,0.0,0.0,0.0,0.0,1.0
1,50.0,Self-emp-not-inc,Bachelors,0,1,13.0,1.0,<=50K,0.0,0.0,0.0,0.0,0.0,1.0
2,38.0,Private,High-school,0,1,40.0,1.0,<=50K,3.0,0.0,0.0,0.0,0.0,1.0
3,53.0,Private,Some-high-school,0,1,40.0,1.0,<=50K,8.0,0.0,0.0,1.0,0.0,0.0
4,28.0,Private,Bachelors,1,0,40.0,0.0,<=50K,0.0,0.0,0.0,1.0,0.0,0.0

In [21]:
# Veamos la nueva descripción del dataset:
# Veamos el dataset resultante:
df_encoded_sex.describe()

,age,sex_0,sex_1,hours_per_week,USA_born,education_encoded,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
count,41694.000000,41716.000000,41716.000000,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000,41694.000000
mean,38.471651,0.324312,0.676215,40.742529,0.895045,4.043316,0.009402,0.030412,0.096369,0.008418,0.855399
std,13.351404,0.468123,0.467925,11.990589,0.306499,2.747751,0.096507,0.171720,0.295100,0.091366,0.351702
min,17.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,0.000000,0.000000,40.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,37.000000,0.000000,1.000000,40.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,47.000000,1.000000,1.000000,45.000000,1.000000,7.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,90.000000,1.000000,1.000000,99.000000,1.000000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
# Verifiquemos el tipo de dato de cada columna:
# Veamos el dataset resultante:
df_encoded_sex.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41716 entries, 0 to 39985
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      41694 non-null  float64
 1   workclass                41694 non-null  object
 2   education                41694 non-null  object
 3   sex_0                    41716 non-null  int64
 4   sex_1                    41716 non-null  int64
 5   hours_per_week           41694 non-null  float64
 6   USA_born                 41694 non-null  float64
 7   label                    41694 non-null  object
 8   education_encoded        41694 non-null  float64
 9   race_Amer-Indian-Eskimo  41694 non-null  float64
 10  race_Asian-Pac-Islander  41694 non-null  float64
 11  race_Black               41694 non-null  float64
 12  race_Other               41694 non-null  float64
 13  race_White               41694 non-null  float64
dtypes: float64(9), int64(2), object(3)
memory usage: 4.8+ MB

In [23]:
# Carguemos el dataset a un nuevo archivo:
df_encoded_sex.to_csv('dataset_limpio_census.csv', index=False)